


body {
    background-color: #151515;
}

.text{
    margin-top: 70px;
}

.text img{
    max-width: 70%;
    pointer-events: none;
}

.projet{
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

.projet img{
    max-height: 500px;
    max-width: 500px;
    margin: 25px;
}


/* Pour téléphone et ipad */
@media(min-height: 800px) {

    .text img{
        max-width: 110%;
        pointer-events: none;
    }
    .projet{
        justify-content: center;
        display: flex;
        flex-direction: column;
        padding-left: 10%;
        margin-top: 10%;
    }
    .projet img {
        justify-content: center;
        max-width: 70%;
        margin: 0px;
    }

}