


body {
    background-color: #151515;
}

.text{
    margin-top: 70px;
}

.text img{
    max-width: 1000px;
}

.projet{
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

.projet img{
    max-height: 500px;
    max-width: 500px;
    margin: 25px;
}